<style>
</style>
<div class="main" data-ng-controller="ProjectsController">

    <!-- navigation menu -->
    <div class="header col-md-12 col-sm-12 col-xs-12">
        <div class="header_resize col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-md-6 col-sm-6 col-xs-12" >
                <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
            </div>
            <div class="profile-bar col-md-offset-2 col-md-4 col-sm-6 col-xs-12 pull-right" >
                <span>
                <h5>
                    <a href="#"><img src="images/userpic.gif"/></a>
                    Welcome, <span data-ng-bind="authentication.user.name"></span>
                    <a href ="/logout">Log Out</a>
                </h5>
                </span>
            </div>
            <div class="clr"></div>

            <nav class="navbar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home </a></li>
                            <!--show only if the user is admin-->
                            <li data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/users">User Management</a></li>
                            <li data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/categories">Category Management</a></li>
                            <!---->
                            <li class="active non-click"><a href="/#!/projects">Projects <span class="sr-only">(current)</span></a></li>
                            <li data-ng-if="authentication.user.role == 'Organization'"><a href="/#!/requests">Request Inbox</a></li>
                            <li><a href="/#!/announcements">Faculty Announcements</a></li>
                            <li data-ng-if="authentication.user.role == 'Faculty'"><a href="/#!/announcementrequests">Request Inbox</a></li>
                            <li><a class="menu1"  href="faq.html">FAQ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    

    <section data-ng-init="list()" class="main-content-body col-md-12" >
        <br/>

        <!-- filter buttons -->
        <div class="display">
            <a class="pointer" data-ng-click="show=!show">Show Filters<span class="caret"></span></a>
        </div><br/>

        <div class="row display" data-ng-show="show">
            <div class="col-md-8">
                <button type="button" data-ng-class="{'btn-primary':open,'btn-default':!open}" class="btn btn-sm" data-ng-click="includeStatus('open')">Available Projects</button>
                <button type="button" data-ng-class="{'btn-primary':ongoing,'btn-default':!ongoing}" class="btn btn-sm" data-ng-click="includeStatus('On-Going')">My On-Going Projects</button>
                <button type="button" data-ng-class="{'btn-primary':completed,'btn-default':!completed}" class="btn btn-sm" data-ng-click="includeStatus('Completed')">My Completed Projects</button>
                <button type="button" data-ng-class="{'btn-primary':requested,'btn-default':!requested}" class="btn btn-sm" data-ng-click="includeStatus('requested')">My Requested Projects</button>
                <br/><br/>
                <button type="button" data-ng-class="{'btn-primary':accounting,'btn-default':!accounting}" class="btn btn-sm" data-ng-click="includeCategory('Accounting')">Accounting</button>
                <button type="button" data-ng-class="{'btn-primary':arts,'btn-default':!arts}" class="btn btn-sm" data-ng-click="includeCategory('Arts')">Arts</button>
                <button type="button" data-ng-class="{'btn-primary':capstone,'btn-default':!capstone}" class="btn btn-sm" data-ng-click="includeCategory('Capstone')">Capstone</button>
                <button type="button" data-ng-class="{'btn-primary':it,'btn-default':!it}" class="btn btn-sm" data-ng-click="includeCategory('IT')">IT</button>
                <button type="button" data-ng-class="{'btn-primary':social,'btn-default':!social}" class="btn btn-sm" data-ng-click="includeCategory('Social Psychology')">Social Psychology</button> 
                <br/><br/>
            </div>
        </div>

        <!-- search box -->
        <div class="row display">
            <label class="col-md-1 control-label" for="searchText">Search:</label> 
            <div class=" col-md-11">
                <input class="form-control" name="searchText" id="searchText" type="text" ng-model="query.$">
            </div>
        </div><br/>


        <!-- Notification goes here! notify organization about project closure and ask for feedback -->
        
        <div class="display" data-ng-repeat="project in projects |filter:{status: 'Completed', feedback_id: null}">
            <div class="flash alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span> Project <a href="#!/projects/{{project._id}}">{{project.title}}</a> has been closed! Please give feedback to the project.</span>
            </div>
        </div>

        <!-- Add a new project -->
         <div class="row col-md-12">
            <a data-ng-if="authentication.user.role == 'Organization' || authentication.user.role =='Admin'" class="btn btn-primary pull-right" href="/#!/projects/create">Add A New Project</a></div>

        <!--- Projects -->  
        <div class="listdiv">
            
            <!--Header-->
            <h4 class="mainTitle"><strong>Projects</strong></h4>

            <hr/>
            <!--List of projects-->
            <ul class="lists">
                <!-- filter-->
                <li class="listItem col-md-12 col-sm-12 col-xs-12" data-ng-repeat="project in projects |filter:statusFilter |filter:categoryFilter |orderBy : '-posted_date' | filter:query"> 
                    <div class="row">
                        <div class="col-md-2">
                            <center><a href="#"><img class="company-image" src="images/icon-company.png"/></a></cetner>
                            <p><center>{{project.org_name}}</center></p>
                        </div>
                        
                        <div class="col-md-9">
                            <div class="pull-right">Posted On: {{project.posted_date}}</div>
                            <h4><a href="#!/projects/{{project._id}}"><strong>{{project.title}}</strong></a></h4><em>({{project.status}})</em>
                            <p><h6><strong>Description</strong></h6>
                            {{project.description | limitTo : 150}}</p>
                        </div>
                    </div>

                    <!-- view details -->
                    <div class="well collapse" id="{{project._id}}">
                        
                        <div class="row item">
                            <h3 class="col-md-8 col-sm-12 col-xs-12"><strong>{{project.title}}</strong></h3>
                            <p class="col-md-4 col-sm-12 col-xs-12 text-right"><strong>Posted on:</strong>{{project.posted_date}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Organization:</strong></p><p class="col-md-3 col-sm-8">{{project.org_id}}</p> <!-- change to name-->
                            <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-3 col-sm-8">{{project.category}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">{{project.start_date}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">{{project.end_date}}</p>
                        </div>
                        <div class="row item" >
                            <p class="col-md-3 col-sm-4"><strong>Course ID:</strong></p><p class="col-md-3 col-sm-8">{{project.course_id}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">Analytical Skills</p><!--Show only if the project is taken-->
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Primary Contact Name:</strong></p><p class="col-md-9 col-sm-8">{{project.contact_person}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Primary Contact Email:</strong></p><p class="col-md-3 col-sm-8">{{project.contact_email}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Primary Contact Phone:</strong></p><p class="col-md-3 col-sm-8">{{project.contact_HP}}</p>
                          </div>
                      
                      <p class="item"><strong>Description</strong></p>
                      <p class="item">{{project.description}}</p>
                      <div class="row item" >
                            <p class="col-md-3 col-sm-4"><strong>Related Document:</strong></p><p class="col-md-9 col-sm-8">
                            <a ng-show='project.uploadFile' href='../upload/{{project.uploadFile}}'  target="_blank">Download here</a>
                            </p>
                        </div>
                      <div class="item col-md-offset-9" style="padding-bottom: 3%">
                        <div class="col-md-4 ">
                          <button type="button" 
                          class="btn btn-default togglebtn" 
                          ng-click="toggleBtn('avail', project._id)" 
                          data-toggle="collapse" 
                          href="#{{project._id}}">Close</button>
                        </div>
                        <div class=" col-md-4">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#interestModal">Indicate Interest</button><!-- Call modal box and send message to organization-->
                        </div>
                      </div>
                    </div>

                    <br/>
                    <hr/>
                </li>
            </ul>
            <uib-pagination ng-model="currentPage" total-items="projects.length" max-size="maxSize" class="pagination-sm" rotate="false" 
            num-pages="numPages" items-per-page="itemsPerPage" boundary-links="true"></uib-pagination>
        </div>

        
    </section>

    <div class="footer">
        <div class="footer_resize center" style="align:centre">
            <p class="lf" >&copy; Copyright 2015 Singapore Management University. All Rights Reserved</p>
      
        </div>
    </div>

</div>