<div class="main" data-ng-controller="AnnouncementController">

    <!-- Navigaton -->
    <div class="header col-md-12 col-sm-12 col-xs-12">
        <div class="header_resize col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-md-6 col-sm-6 col-xs-12" >
                <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
            </div>
            <div class="profile-bar col-md-offset-2 col-md-4 col-sm-6 col-xs-12 pull-right" >
                <span>
                <h5>
                  <a href="#"><img src="images/userpic.gif"/></a>
                    Welcome, <span data-ng-bind="authentication.user.name"></span>
                    <a href ="/logout">Log Out</a>
                </h5>
                </span>
            </div>
            <div class="clr"></div>

            <nav class="navbar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home </a></li>
                            <!--show only if the user is admin-->
                            <li data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/users">User Management</a></li>
                            <!---->
                            <li><a href="/#!/projects">Projects <span class="sr-only">(current)</span></a></li>
                            <li data-ng-if="authentication.user.role == 'Organization'"><a href="/#!/requests">Request Inbox</a></li>
                            <li class="active non-click"><a href="">Faculty Announcements</a></li>
                            <li><a class="menu1"  href="faq.html">FAQ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    
    <section data-ng-init="list(); tab = 'open';" class="main-content-body col-md-12" >
        <br/>

        <p >
            <button type="button" ng-class="{active:tab === 'open'}" class="btn btn-default btn-sm" ng-click="tab = 'open'">My Open Announcements</button>
            <button type="button" ng-class="{active:tab === 'closed'}"  class="btn btn-default btn-sm" ng-click="tab = 'closed'">My Closed Announcements</button>
            <button data-ng-if="authentication.user.role == 'Faculty' || authentication.user.role =='Admin'" class="btn btn-primary pull-right" href="/#!/announcements/create">Add A New Announcement</button>
            <br/><br/>
            <button type="button" data-ng-class="{'btn-primary':accounting,'btn-default':!accounting}" class="btn btn-sm" data-ng-click="includeCategory('Accounting')">Accounting</button>
            <button type="button" data-ng-class="{'btn-primary':arts,'btn-default':!arts}" class="btn btn-sm" data-ng-click="includeCategory('Arts')">Arts</button>
            <button type="button" data-ng-class="{'btn-primary':capstone,'btn-default':!capstone}" class="btn btn-sm" data-ng-click="includeCategory('Capstone')">Capstone</button>
            <button type="button" data-ng-class="{'btn-primary':it,'btn-default':!it}" class="btn btn-sm" data-ng-click="includeCategory('IT')">IT</button>
            <button type="button" data-ng-class="{'btn-primary':social,'btn-default':!social}" class="btn btn-sm" data-ng-click="includeCategory('Social Psychology')">Social Psychology</button> 
        </p>

        <!--tabs-->

        <!--- Open Announcements -->  
        <div class="listdiv" ng-show="tab === 'open'">
            
            <!--Header-->
            <h3 class="mainTitle"><strong>Open Announcements</strong></h3>

            <hr/>

            <!--Search-->
            <div class="row">
                <label class="col-md-offset-1 col-md-1 control-label" for="searchText">Search:</label> 
                <div class=" col-md-4">
                    <select class="form-control">
                        <option value="">Category</option>
                        <option ng-model="query.category" ng-repeat="cat in categoryIncludes" value={{cat}}>{{cat}}</option>
                    </select>
                </div>
                <div class=" col-md-4">
                  <input class="form-control" name="searchText" id="searchText" type="text" ng-model="query.$">
                </div>
            </div>

            <br/>
            <br/>
            <!--List of announcement-->
            <ul class="lists">
                <!--To add status filter-->
                <li class="listItem col-md-12 col-sm-12 col-xs-12" data-ng-repeat="announcement in announcements |filter:{status: 'open'} |orderBy : '-posted_date' | filter:query">

                    <div>

                        <p><h4><a href="#!/projects/{{project._id}}"><strong>{{annoc.title}}</strong></a></h4></p>
                        <h6><strong>Description </strong><p class="pull-right">Posted On: {{annoc.posted_date}}</p></h6>
                        <p>{{annoc.description | limitTo : 150}}</p>
                        <button class="btn btn-primary togglebtn detailsbtn avail{{announcement._id}} pull-right" type="button" ng-click="toggleBtn('avail', announcement._id)" data-toggle="collapse" href="#{{announcement._id}}" aria-expanded="false" aria-controls="announcement">View More</button>
                    </div>

                    <!-- view details -->
                    <div class="well collapse" id="{{announcement._id}}">
                        
                        <div class="row item">
                            <h3 class="col-md-8 col-sm-12 col-xs-12"><strong>{{announcement.title}}</strong></h3>
                            <p class="col-md-4 col-sm-12 col-xs-12 text-right"><strong>Posted on:</strong>{{announcement.posted_date}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-3 col-sm-8">{{announcement.category}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.start_date}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.end_date}}</p>
                        </div>
                        <div class="row item" >
                            <p class="col-md-3 col-sm-4"><strong>Course ID:</strong></p><p class="col-md-3 col-sm-8">{{announcement.course_id}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">Analytical Skills</p><!--Show only if the project is taken-->
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Primary Contact Name:</strong></p><p class="col-md-9 col-sm-8">{{announcement.faculty_id}}</p>
                        </div>
                      
                      <p class="item"><strong>Description</strong></p>
                      <p class="item">{{announcement.description}}</p>
                      <div class="item col-md-offset-9" style="padding-bottom: 3%">
                        <div class="col-md-4 ">
                          <button type="button" 
                          class="btn btn-default togglebtn" 
                          ng-click="toggleBtn('avail', announcement._id)" 
                          data-toggle="collapse" 
                          href="#{{announcement._id}}">Close</button>
                        </div>
                        <div class=" col-md-4">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#interestModal">Indicate Interest</button><!-- Call modal box and send message to organization-->
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                </li>
            </ul>
            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
            
        </div>

        <!--- Completed announcements -->  
        <div class="listdiv" ng-show="tab === 'closed'">
            
            <!--Header-->
            <h3 class="mainTitle"><strong>My Closed Announcements</strong></h3>

            <hr/>

            <!--Search-->
            <div class="row">
                <label class="col-md-offset-1 col-md-1 control-label" for="searchText">Search:</label> 
                <div class=" col-md-4">
                    <select class="form-control">
                        <option value="">Category</option>
                        <option ng-repeat="cat in categoryIncludes"  value={{cat}}>{{cat}}</option>
                    </select>
                </div>
                <div class=" col-md-4">
                  <input class="form-control" name="searchText" id="searchText" type="text" ng-model="query.$">
                </div>
            </div>

            <br/>
            <br/>
            <!--List of projects-->
            <ul class="lists">
                <!--To add status filter-->
                <li class="listItem col-md-12 col-sm-12 col-xs-12" data-ng-repeat="announcement in announcements |filter:{status: 'close'} |orderBy : '-posted_date' | filter:query">
                    <div>
                        <p><h4><strong>{{announcement.title}} hello</strong></h4></p>
                        <h6><strong>Description</strong><p class="pull-right">Posted On: {{announcement.posted_date}}</p></h6>
                        <p>{{announcement.description | limitTo : 150}}</p>
                        <button class="btn btn-primary togglebtn detailsbtn cpl{{announcement._id}} pull-right" type="button" ng-click="toggleBtn('cpl',announcement._id)" data-toggle="collapse" href="#cpl{{announcement._id}}" aria-expanded="false" aria-controls="announcement">View More</button>
                    </div>

                    <!-- view details -->
                    <div class="well collapse" id="cpl{{announcement._id}}">
                        
                        <div class="row item">
                            <h3 class="col-md-8 col-sm-12 col-xs-12"><strong>{{announcement.title}}</strong></h3>
                            <p class="col-md-4 col-sm-12 col-xs-12 text-right"><strong>Posted on:</strong>{{announcement.posted_date}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-3 col-sm-8">{{announcement.category}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.start_date}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.end_date}}</p>
                        </div>
                        <div class="row item" >
                            <p class="col-md-3 col-sm-4"><strong>Course ID:</strong></p><p class="col-md-3 col-sm-8">{{announcement.course_id}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">Analytical Skills</p><!--Show only if the project is taken-->
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Primary Contact Name:</strong></p><p class="col-md-9 col-sm-8">{{announcement.faculty_id}}</p>
                        </div>
                      
                      <p class="item"><strong>Description</strong></p>
                      <p class="item">{{announcement.description}}</p>
                      <div class="item col-md-offset-9" style="padding-bottom: 3%">
                        <div class="col-md-4 ">
                            <button type="button" class="btn btn-default togglebtn" data-toggle="collapse" href="#cpl{{announcement._id}}" ng-click="toggleBtn('cpl',announcement._id)" >Close</button>
                        </div>
                        <div class=" col-md-4">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbacks">View Feedbacks</button>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                </li>
            </ul>
            <uib-pagination ng-model="currentPage" total-items="todos.length" max-size="maxsize"  boundary-links="true"></uib-pagination>
        </div>

        
    </section>

    <div class="footer">
        <div class="footer_resize center" style="align:centre">
            <p class="lf" >&copy; Copyright 2015 Singapore Management University. All Rights Reserved</p>
      
        </div>
    </div>

    <!--Modals-->

    <!--Create Announcement Modal-->
    <div class="modal fade modal-lg" id="createAnnoc" tabindex="-1" role="dialog" aria-labelledby="newAnnocLabel" style="z-index: 2147483647;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newAnnocLabel"><strong>Add New Announcement</strong></h4>
                </div>

                <div class="modal-body">
                    <form data-ng-submit="add()" name="annocAdd" id="addAnnoc" class="form-horizontal" novalidate>
                        <div class="form-group">
                                <label for="title" class="col-md-2 col-sm-2 control-label">Title </label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="text" class="form-control" data-ng-model="title" name="title" ng-maxlength="100" required/>
                                </div><!-- Title -->
                        </div> 
                        <div class="form-group">
                                <label for="category" class="col-md-2 col-sm-2 control-label">Category </label>
                                <div class="col-md-10 col-sm-10">
                                    <select class="form-control" data-ng-model="category">
                                        <option selected></option>
                                        <option ng-repeat="cat in categoryIncludes">{{cat}}</option>
                                    </select>
                                </div><!-- Category -->
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-2 col-sm-2 control-label">Start Date </label>
                            <div class="col-md-5 col-sm-4">
                                <div class="input-group">
                                    <input 
                                    type="date" 
                                    class="form-control" 
                                    uib-datepicker-popup ng-model="start_date" 
                                    is-open="status.opened" 
                                    min-date="minDate" 
                                    datepicker-options="dateOptions" 
                                    date-disabled="disabled(date, mode)" 
                                    close-text="Close" />
                                    <!--span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span-->
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                            <label for="name" class="col-md-2 col-sm-2 control-label">End Date </label>
                            <div class="col-md-4 col-sm-4">
                                <p class="input-group">
                                  <input 
                                    type="date" 
                                    class="form-control" 
                                    uib-datepicker-popup ng-model="end_date" 
                                    is-open="status.opened" 
                                    min-date="minDate" 
                                    datepicker-options="dateOptions" 
                                    date-disabled="disabled(date, mode)" 
                                    close-text="Close" />
                                  <!--span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span-->
                                </p>
                            </div><!-- Start Date/End Date -->
                        </div><!-- row -->
                        <div class="form-group"><!-- Description -->
                                <label for="desc" class="col-md-2 col-sm-2 control-label">Description </label>
                                <div class="col-md-10 col-sm-10">
                                    <textarea class="form-control" data-ng-model="description" name="description" ng-maxlength="1500" rows="7" required/>
                                    <span>{{1500-description.length}} characters left</span>
                                </div>
                        </div> 
                        <div class="col-md-9 col-sm-7"></div>
                        <div class="form-group"><!-- Button -->
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" ng-disabled="project_Add.$invalid" class="btn btn-primary">Post</button>  
                        </div>
                        <div data-ng-show="error"><strong data-ng-bind="error"></strong></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
    $('#addAnnoc').on('submit', function() {
  $('#createAnnoc').modal('hide');
  $('body').removeClass('modal-open');
$('.modal-backdrop').remove();
});

</script>

    <!-- Indicate Interest modal -->
  <div class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="indicateInterestLabel" style="z-index: 2147483647;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        
          <div class="modal-body">
            <!-- Indicate Interest form-->
            <form  name="indicateInterestForm" novalidate>
            
            <div class="form-group col-md-12 col-sm-12">
              <label class="col-md-6" for="projectId">Project ID</label>
              <div class="col-md-6">
              <select class="form-control" ng-model="project.courseId" name="projectId" id="projectId">

                <optgroup ng-repeat=" ">
                  <option ng-repeat="" value=""></option>
                </optgroup>
              </select>
              </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
              <label for="descIn">Project Request Message to Faculty</label>
              <textarea rows="3" ng-model="description" class="form-control" id="descIn" placeholder="Description" ng-maxlength="1000" required></textarea>
            </div>
            <div class="col-md-offset-9 col-sm-offset-6">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>

</div>