<div class="main" data-ng-controller="AnnouncementController">

    <!-- Navigaton -->
    <div class="header col-md-12 col-sm-12 col-xs-12">
        <div class="header_resize col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-md-6 col-sm-6 col-xs-12" >
                <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
            </div>
            <div class="profile-bar col-md-offset-2 col-md-4 col-sm-6 col-xs-12 pull-right" >
                <span>
                <h5>
                  <a href="#"><img src="images/userpic.gif"/></a>
                    Welcome, <span data-ng-bind="authentication.user.name"></span>
                    <a href ="/logout">Log Out</a>
                </h5>
                </span>
            </div>
            <div class="clr"></div>

            <nav class="navbar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home </a></li>
                            <!--show only if the user is admin-->
                            <li data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/users">User Management</a></li>
                            <li data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/categories">Category Management</a></li>
                            <!---->
                            <li><a href="/#!/projects">Projects <span class="sr-only">(current)</span></a></li>
                            <li data-ng-if="authentication.user.role == 'Organization'"><a href="/#!/requests">Request Inbox</a></li>
                            <li class="active non-click"><a href="">Faculty Announcements</a></li>
                            <li data-ng-if="authentication.user.role == 'Faculty'"><a href="/#!/announcementrequests">Request Inbox</a></li>
                            <li><a class="menu1"  href="faq.html">FAQ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    
    <section data-ng-init="list(); tab = 'open';" class="main-content-body col-md-12" >
        <br/>

        <p >
            <button type="button" ng-class="{active:tab === 'open'}" class="btn btn-default btn-sm" ng-click="tab = 'open'">Open Announcements</button>
            <button type="button" ng-class="{active:tab === 'closed'}"  class="btn btn-default btn-sm" ng-click="tab = 'closed'">Closed Announcements</button>
            <button type="button" ng-show="authentication.user.role == 'Organization'" ng-class="{active:tab === 'requested'}"  class="btn btn-default btn-sm" ng-click="tab = 'requested'" >Requested Announcements</button>
            
            
            
            <a data-ng-if="authentication.user.role == 'Faculty' || authentication.user.role =='Admin'" class="btn btn-primary pull-right" href="/#!/announcements/create">Add A New Announcement</a>
            <br/><br/>
            <button type="button" data-ng-class="{'btn-primary':accounting,'btn-default':!accounting}" class="btn btn-sm" data-ng-click="includeCategory('Accounting')">Accounting</button>
            <button type="button" data-ng-class="{'btn-primary':arts,'btn-default':!arts}" class="btn btn-sm" data-ng-click="includeCategory('Arts')">Arts</button>
            <button type="button" data-ng-class="{'btn-primary':capstone,'btn-default':!capstone}" class="btn btn-sm" data-ng-click="includeCategory('Capstone')">Capstone</button>
            <button type="button" data-ng-class="{'btn-primary':it,'btn-default':!it}" class="btn btn-sm" data-ng-click="includeCategory('IT')">IT</button>
            <button type="button" data-ng-class="{'btn-primary':social,'btn-default':!social}" class="btn btn-sm" data-ng-click="includeCategory('Social Psychology')">Social Psychology</button> 
        </p>

        <!--tabs-->

        <!--- Open Announcements -->  
        <div class="listdiv" ng-show="tab === 'open'">
            
            <!--Header-->
            <h3 class="mainTitle"><strong>Open Announcements</strong></h3>

            <hr/>

            <!--Search-->
            <div class="row">
                <label class="col-md-offset-1 col-md-1 control-label" for="searchText">Search:</label> 
                <div class=" col-md-8">
                  <input class="form-control" name="searchText" id="searchText" type="text" ng-model="query.$">
                </div>
            </div>

            <br/>
            <br/>
            <!--List of announcement-->
            <ul class="lists">
                <!--To add status filter-->
                <li class="listItem col-md-12 col-sm-12 col-xs-12" data-ng-repeat="announcement in announcements |filter:{status: '!close'}|filter:categoryFilter  |orderBy : '-posted_date' | filter:query">

                    <div>

                        <p><h4><a href="/#!/announcements/{{announcement._id}}"><strong>{{announcement.title}}</strong></a></h4></p>
                        <h6><strong>Description </strong><p class="pull-right">Posted On: {{announcement.posted_date}}</p></h6>
                        <p>{{announcement.description | limitTo : 100}}</p>
                        <button class="btn btn-primary togglebtn detailsbtn avail{{announcement._id}} pull-right" type="button" ng-click="toggleBtn('avail', announcement._id)" data-toggle="collapse" href="#{{announcement._id}}" aria-expanded="false" aria-controls="announcement">View More</button>
                    </div>

                    <!-- view details -->
                    <div class="well collapse" id="{{announcement._id}}">
                        
                        <div class="row item">
                            <h3 class="col-md-8 col-sm-12 col-xs-12"><strong>{{announcement.title}}</strong></h3>
                            <p class="col-md-4 col-sm-12 col-xs-12 text-right"><strong>Posted on:</strong>{{announcement.posted_date}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-3 col-sm-8">{{announcement.category}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">{{announcement.course_id}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Faculty Name:</strong></p><p class="col-md-9 col-sm-8">{{announcement.faculty_id}}</p>
                        </div>
                      <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.start_date}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.end_date}}</p>
                        </div>

                      <p class="item"><strong>Description</strong></p>
                      <p class="item">{{announcement.description}}</p>
                      <div class="item btn-toolbar col-md-offset-6 pull-right" style="padding-bottom: 3%;">
                          <button type="button" class="btn btn-danger warningBtn " data-ng-if="authentication.user.role == 'Faculty' || authentication.user.role == 'Admin'" data-toggle="modal" data-warningtext="Are you sure you want to withdraw this announcement?" data-target="#warning" data-action="delete(announcement)">Withdraw Announcement</button><!-- Perform delete-->
                        
                          <button type="button" data-ng-if="authentication.user.role == 'Organization' || authentication.user.role == 'Admin'" class="btn btn-primary"  data-annocid="{{announcement._id}}" id="proposeProjBtn" data-toggle="modal" data-target="#interestModal">Propose Project</button><!-- call a modal-->
                        
                          <button type="button" 
                          class="btn btn-default togglebtn " 
                          ng-click="toggleBtn('avail', announcement._id)" 
                          data-toggle="collapse" 
                          href="#{{announcement._id}}">Close</button>
         
                      </div>
                      <div class="row item" >
                            <p class="col-md-3 col-sm-4"><strong>Related Document:</strong></p><p class="col-md-9 col-sm-8">
                            <a ng-show='announcement.uploadFile' href='../upload/{{announcement.uploadFile}}'  target="_blank">Download here</a>
                            </p>
                        </div>
                      <br/><br/>
                    </div>
                    <br/>
                    <hr/>
                </li>
            </ul>
            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
            
        </div>

        <!--- close Announcements -->  
        <div class="listdiv" ng-show="tab === 'closed'">
            
            <!--Header-->
            <h3 class="mainTitle"><strong>Closed Announcements</strong></h3>

            <hr/>

            <!--Search-->
            <div class="row">
                <label class="col-md-offset-1 col-md-1 control-label" for="searchText">Search:</label> 
                <div class=" col-md-8">
                  <input class="form-control" name="searchText" id="searchText" type="text" ng-model="query.$">
                </div>
            </div>

            <br/>
            <br/>
            <!--List of announcement-->
            <ul class="lists">
                <!--To add status filter-->
                <li class="listItem col-md-12 col-sm-12 col-xs-12" data-ng-repeat="announcement in announcements |filter:{status: 'close'}|filter:categoryFilter  |orderBy : '-posted_date' | filter:query">

                    <div>

                        <p><h4><a href="#!/announcements/{{announcement._id}}"><strong>{{announcement.title}}</strong></a></h4></p>
                        <h6><strong>Description </strong><p class="pull-right">Posted On: {{announcement.posted_date}}</p></h6>
                        <p>{{announcement.description | limitTo : 100}}</p>
                        <button class="btn btn-primary togglebtn detailsbtn avail{{announcement._id}} pull-right" type="button" ng-click="toggleBtn('avail', announcement._id)" data-toggle="collapse" href="#{{announcement._id}}" aria-expanded="false" aria-controls="announcement">View More</button>
                    </div>

                    <!-- view details -->
                    <div class="well collapse" id="{{announcement._id}}">
                        
                        <div class="row item">
                            <h3 class="col-md-8 col-sm-12 col-xs-12"><strong>{{announcement.title}}</strong></h3>
                            <p class="col-md-4 col-sm-12 col-xs-12 text-right"><strong>Posted on:</strong>{{announcement.posted_date}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-3 col-sm-8">{{announcement.category}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">{{announcement.course_id}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Faculty Name:</strong></p><p class="col-md-9 col-sm-8">{{announcement.faculty_id}}</p>
                        </div>
                      <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.start_date}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.end_date}}</p>
                        </div>
                      <p class="item"><strong>Description</strong></p>
                      <p class="item">{{announcement.description}}</p>

                      <div class="item col-md-offset-9" style="padding-bottom: 3%">
                        <div class="col-md-4 ">
                          <button type="button" 
                          class="btn btn-default togglebtn" 
                          ng-click="toggleBtn('avail', announcement._id)" 
                          data-toggle="collapse" 
                          href="#{{announcement._id}}">Close</button>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                </li>
            </ul>
            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
            
        </div>

        <!--- requested Announcements -->  
        <div class="listdiv" ng-show="tab === 'requested'" data-ng-controller = "AnnouncementRequestsController" data-ng-init="list()">
            
            <!--Header-->
            <h3 class="mainTitle"><strong>Requested Announcements</strong></h3>

            <hr/>

            <!--Search-->
            <div class="row">
                <label class="col-md-offset-1 col-md-1 control-label" for="searchText">Search:</label> 
                <div class=" col-md-8">
                  <input class="form-control" name="searchText" id="searchText" type="text" ng-model="query.$">
                </div>
            </div>

            <br/>
            <br/>
            <!--List of announcement-->
            <ul class="lists">
                <!--To add status filter-->
                <li class="listItem col-md-12 col-sm-12 col-xs-12" data-ng-repeat="announcement in announcements |filter:{status: 'requested'}|filter:categoryFilter  |orderBy : '-posted_date' | filter:query">

                    <div>

                        <p><h4><a href="#!/announcements/{{announcement._id}}"><strong>{{announcement.title}}</strong></a></h4></p>
                        <h6><strong>Description </strong><p class="pull-right">Posted On: {{announcement.posted_date}}</p></h6>
                        <p>{{announcement.description | limitTo : 100}}</p>
                        <button class="btn btn-primary togglebtn detailsbtn avail{{announcement._id}} pull-right" type="button" ng-click="toggleBtn('avail', announcement._id)" data-toggle="collapse" href="#{{announcement._id}}" aria-expanded="false" aria-controls="announcement">View More</button>
                    </div>

                    <!-- view details -->
                    <div class="well collapse" id="{{announcement._id}}">
                        
                        <div class="row item">
                            <h3 class="col-md-8 col-sm-12 col-xs-12"><strong>{{announcement.title}}</strong></h3>
                            <p class="col-md-4 col-sm-12 col-xs-12 text-right"><strong>Posted on:</strong>{{announcement.posted_date}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-3 col-sm-8">{{announcement.category}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">{{announcement.course_id}}</p>
                        </div>
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Faculty Name:</strong></p><p class="col-md-9 col-sm-8">{{announcement.faculty_id}}</p>
                        </div><!-- May b change to faculty name-->
                        <div class="row item">
                            <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.start_date}}</p>
                            <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">{{announcement.end_date}}</p>
                        </div>
                      
                      <p class="item"><strong>Description</strong></p>
                      <p class="item">{{announcement.description}}</p>
                      <div class="item col-md-offset-9" style="padding-bottom: 3%">
                        <div class="col-md-4">
                          <button type="button" 
                          class="btn btn-default togglebtn" 
                          ng-click="toggleBtn('avail', announcement._id)" 
                          data-toggle="collapse" 
                          href="#{{announcement._id}}">Close</button>
                        </div>
                        <div class=" col-md-4">
                          <button type="button" class="btn btn-primary warningBtn" data-toggle="modal" data-warningtext="Are you sure you want to cancel this request?" data-target="#warning" data-action="delete({{announcement.id}})">Cancel Request</button><!-- Call modal box and send message to organization-->
                        </div>
                      </div>
                    </div>
                    <br/>
                    <hr/>
                </li>
            </ul>
            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
            
        </div>

        
    </section>

    <div class="footer">
        <div class="footer_resize center" style="align:centre">
            <p class="lf" >&copy; Copyright 2015 Singapore Management University. All Rights Reserved</p>
      
        </div>
    </div>
<script>
    $(document).on('click','.warningBtn', function(){

        var text = $(this).data('warningtext');
        var action = $(this).data('action');
        $(".modal-body #warningTextarea").empty();
        $(".modal-body #warningTextarea").append(text);
        $(".modal-body .proceedBtn").attr('data-ng-submit',action);
    })

   
    $(document).on('click', '.proceedBtn', function(){
        var id = $(this).attr('id');
        $('#warning').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    })

        $(document).on('click', '#proposeProjBtn', function(){

        var id = $(this).data('annocid');
         window.announcementId = id;
        
    })

</script>


    <!--Modals-->
    <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="warningLabel" style="z-index:2147483647;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newAnnocLabel">You are about to withdraw..</h4>
                </div>

                <div class="modal-body">
                <strong><p class="text-danger" id="warningTextarea"></p></strong>

                <button style="margin-left:3%;" type="button" class="btn btn-danger pull-right" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary pull-right proceedBtn">Yes</button>
                <br/>
                <br/>
                </div>
            </div>
        </div>
    </div>



    <!-- Indicate Interest modal -->
  <div data-ng-init="projectList();" class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="indicateInterestLabel" style="z-index: 2147483647;" data-ng-controller="AnnouncementRequestsController">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        
          <div class="modal-body">
            <!-- Indicate Interest form-->
            <form  name="indicateInterestForm" data-ng-if="announcement.status !== 'closed'" data-ng-submit="add()" novalidate>
            
            <div class="form-group col-md-12 col-sm-12">
              <label class="col-md-6" for="projectId">Project ID</label>
              <div class="col-md-6">
              <select class="form-control" ng-model="projectId" name="projectId" id="projectId">

                  
                  <option ng-repeat = "project in projects " value="{{project._id}}">{{project.title}}</option>
              </select>
              </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
              <label for="descIn">Project Request Message to Faculty</label>
              <textarea rows="3" ng-model="description" class="form-control" id="descIn" placeholder="Description" ng-maxlength="1000" required></textarea>
            </div>
            <input type="hidden" id="announcementId" >
            <div class="col-md-offset-9 col-sm-offset-6">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" ng-click="cancel()" id="projPropose"  class="btn btn-primary">Send</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
<script>
$(document).on('click', '#projPropose', function(){

  $('#interestModal').modal('hide');
  $('body').removeClass('modal-open');
$('.modal-backdrop').remove();
        
    })
$(document).ready(function(){
    function getFileFromServer(url, doneCallback) {
    var xhr;

    xhr = new XMLHttpRequest();
    xhr.onreadystatechange = handleStateChange;
    xhr.open("GET", url, true);
    xhr.send();

    function handleStateChange() {
        if (xhr.readyState === 4) {
            doneCallback(xhr.status == 200 ? xhr.responseText : null);
        }
    }
}
})

</script>
</div>