.pointer {
    cursor: pointer;
}

.page-header {
	border-bottom-color: transparent;
}

.breadcrumb {
	background-color: transparent;
	margin-bottom: 0px;
}

.display {
	padding-left: 19px;
	padding-right: 19px;
}