@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#333333;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	background:#f5f5f5 url(../images/footer_bg.gif) repeat-x center bottom;
}
html, .main {
	padding:0;
	margin:0;
}

.navbar{
  background-color: #2C65B5;
  color: white;
  height: 2%;
  border-radius: 0;
}
.navbar ul li, .navbar ul li a{
	color:white;
}
.navbar ul li.active, .navbar ul li a:hover{
  color:white;
  border: 2px solid white;
  /*border-radius: 4px;*/
  background-color: #2b5c94;
  border-top:none;
  border-bottom:none;
}

.menu_nav ul li.active, .menu_nav ul li a:hover {
  color:white;
  border: 2px solid #2b5c94;
  background-color:white;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:0;
	float:left;
	width:auto;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	background-color: white;
}
.header_resize {
	margin:0 auto;
	padding:0;
}
img.hbg_img {
	margin:0 0 8px;
	padding:1% 3%;
	background-color:#e7e7e7;
	border-bottom:2px solid #e7e7e7;
}

.content_resize {
	margin:0 auto;
	padding:0 0 24px;
	width:970px;
	background-color:#fff;
	border:2px solid #e7e7e7;
	border-top:none;
}

/*main content*/
.main-content-body{
	margin-top: 1%;
	background-color: white;
}
