<div data-ng-controller="UsersController">

    <div class="header col-md-12 col-sm-12 col-xs-12">
        <div class="header_resize col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-md-6 col-sm-6 col-xs-12" >
                <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
            </div>
            <div class="profile-bar col-md-offset-2 col-md-4 col-sm-6 col-xs-12 pull-right" >
                <span>
                <h5>
                  <a href="#"><img src="images/userpic.gif"/></a>
                    Welcome, <span data-ng-bind="authentication.user.name"></span>
                    <a href ="/logout">Log Out</a>
                </h5>
                </span>
            </div>
            <div class="clr"></div>

            <nav class="navbar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home </a></li>
                            <!--show only if the user is admin-->
                            <li class="active" data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/users">User Management</a></li>
                            <!---->
                            <li><a href="/#!/projects">Projects <span class="sr-only">(current)</span></a></li>
                            <li data-ng-if="authentication.user.role == 'Organization'"><a href="/#!/requests">Request Inbox</a></li>
                            <li><a href="/">Faculty Announcements</a></li>
                          <!--
                          <li class="dropdown">
                            <a href="#" class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="project.html?select=availableprojects">Available Projects</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="project.html?select=ongoingprojects">Ongoing Projects</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="project.html?select=projectrequests">Project Requests</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="project.html?select=completedprojects">Completed Projects</a></li>
                              </ul>
                          </li>-->
                          <!--
                          <li class="dropdown">
                            <a href="#"  class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faculty Announcement <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#" data-toggle="modal" data-target="#newAnnouc">New Announcement</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="announcement.html?select=myannouncements">My Announcements</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="announcement.html?select=announcementrequests">Requests</a></li>
                            </ul>
                          </li>-->
                            <li><a class="menu1"  href="faq.html">FAQ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>

    <section data-ng-init="list()" class="main-content-body col-md-12"><br/>
        <a class="btn btn-primary col-md-offset-10" href="/#!/users/create">Add A New User</a> <br/><br/>   
        <!--- User Lists -->    
        <table class="table table-hover">
            <tr>
                <th>S/N</th><th>Name</th><th>Email</th><th>Role</th><th>Actions</th>
            </tr>

            <tr data-ng-repeat="user in users">
                <p ng-show="{{users === undefined}}">Show this if $scope.user ==== undefined</p>
                <td>{{$index + 1}}</td>
                <td><span data-ng-bind="user.name"></span></td>
                <td><span data-ng-bind="user.email_address"></span></td>
                <td><span data-ng-bind="user.role"></span></td>
                <!--<td><span data-ng-bind="user._id"></span></td>-->
                <td><a data-ng-href="#!/users/{{user._id}}">Edit</a> | <a class="pointer" data-ng-click="delete(user, $event);">Delete</a></td>
            </tr>
        </table>
    </section>
        
</div>
