
<div data-ng-controller="UsersController">

    <div class="header col-md-12 col-sm-12 col-xs-12">
        <div class="header_resize col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-md-6 col-sm-6 col-xs-12" >
                <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
            </div>
            <div class="profile-bar col-md-offset-2 col-md-4 col-sm-6 col-xs-12 pull-right" >
                <span>
                <h5>
                  <a href="#"><img src="images/userpic.gif"/></a>
                    Welcome, <span data-ng-bind="authentication.user.name"></span>
                    <a href ="/logout">Log Out</a>
                </h5>
                </span>
            </div>
            <div class="clr"></div>

            <nav class="navbar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home </a></li>
                            <!--show only if the user is admin-->
                            <li class="active" data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/users">User Management</a></li>
                            <!---->
                            <li><a href="/#!/projects">Projects <span class="sr-only">(current)</span></a></li>
                            <li data-ng-if="authentication.user.role == 'Organization'"><a href="/#!/requests">Request Inbox</a></li>
                            <li><a href="/">Faculty Announcements</a></li>
                          <!--
                          <li class="dropdown">
                            <a href="#" class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="project.html?select=availableprojects">Available Projects</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="project.html?select=ongoingprojects">Ongoing Projects</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="project.html?select=projectrequests">Project Requests</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="project.html?select=completedprojects">Completed Projects</a></li>
                              </ul>
                          </li>-->
                          <!--
                          <li class="dropdown">
                            <a href="#"  class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faculty Announcement <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#" data-toggle="modal" data-target="#newAnnouc">New Announcement</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="announcement.html?select=myannouncements">My Announcements</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="announcement.html?select=announcementrequests">Requests</a></li>
                            </ul>
                          </li>-->
                            <li><a class="menu1"  href="faq.html">FAQ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>

    <!-- Begin Page Content -->
    <section data-ng-init="read()">
        <ol class="breadcrumb"><li><a href="#!/users">Users</a></li><li class="active" data-ng-bind="user.name"></li></ol>
        <p ng-show="{{user === undefined}}">Show this if $scope.user ==== undefined</p>
        
        <!-- FORM -->
        <form data-ng-submit="update()" name="userEdit" class="form-horizontal">
            <!-- NAME -->
            <div class="form-group" ng-class="{'has-error': userEdit.name.$invalid && !userEdit.name.$pristine}">
                <label for="name" class="col-sm-1 control-label">Name </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" data-ng-model="user.name" name="name" ng-maxlength="100" required autofocus />
                </div>
                <div class="col-sm-6"><span ng-show="!userEdit.name.$pristine && userEdit.name.$invalid && userEdit.name.$touched" class="help-block">Name cannot be empty.</span><span ng-show="userEdit.name.$error.maxlength && userEdit.name.$touched && !userAddname.$pristine" class="help-block">Name cannot be longer than 100 characters.</span></div>
            </div> 

            <!-- EMAIL -->
            <div class="form-group" ng-class="{'has-error': userEdit.email_address.$invalid && !userEdit.email_address.$pristine}">
                <label for="email" class="col-sm-1 control-label">Email </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" data-ng-model="user.email_address" name="email_address" required/>
                </div>
                <div class="col-sm-6"><span ng-show="userEdit.email_address.$invalid && !userEdit.email_address.$pristine && userEdit.email_address.$touched" class="help-block">Enter a valid email.</span></div>
            </div>
            <div class="form-group">
                <label for="role" class="col-sm-1 control-label">Role </label>
                <div class="col-sm-5">
                    <select class="form-control" data-ng-model="user.role" name="role">
                        <option value="Admin">Admin</option>
                        <option value="Faculty">Faculty</option>
                        <option value="Organization">Organization</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-7 pull-right">
                <button type="submit" class="btn btn-primary">Save</button>  
            </div>  
            <div data-ng-show="error"><strong data-ng-bind="error"></strong></div>
        </form>
    </section>
</div>
