<div data-ng-controller="RequestsController">

    <div class="header col-md-12 col-sm-12 col-xs-12">
        <div class="header_resize col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-md-6 col-sm-6 col-xs-12" >
                <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
            </div>
            <div class="profile-bar col-md-offset-2 col-md-4 col-sm-6 col-xs-12 pull-right" >
                <span>
                <h5>
                  <a href="#"><img src="images/userpic.gif"/></a>
                    Welcome, <span data-ng-bind="authentication.user.name"></span>
                    <a href ="/logout">Log Out</a>
                </h5>
                </span>
            </div>
            <div class="clr"></div>

            <nav class="navbar">
                <div class="container-fluid">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home </a></li>
                            <!--show only if the user is admin-->
                            <li data-ng-if="authentication.user.role == 'Admin'"><a href="/#!/users">User Management</a></li>
                            <!---->
                            <li><a href="/#!/projects">Projects <span class="sr-only">(current)</span></a></li>
                            <li class="active" data-ng-if="authentication.user.role == 'Organization'"><a href="/#!/requests">Request Inbox</a></li>
                            <li><a href="/#!/announcements">Faculty Announcements</a></li>
                            <li><a class="menu1"  href="faq.html">FAQ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    
    <section data-ng-init="list()">
        <p>Sort By:
        <button type="button" class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Project</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Requested Date</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Category3</button> 
        <button type="button" class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Category1</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Category1</button>
        Search Box
        </p>
        <!--- Requests Lists -->    
        <div class = "panel panel-default">
            <div class = "panel-heading">Requests</div>       
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="request in requests">
                    <p>
                        <a data-ng-href="/#!/projects/{{request.project_id}}"><h4>{{request.project_name}}</a> <em class="small pull-right">Requested on: {{request.requested_date}}</em></h4>
                        <h5>Faculty: {{request.faculty_name}} ({{request.faculty_email}})</h5>
                        <span data-ng-bind="request.message"></span>
                    </p>
                    <p>
                        <button class="btn btn-primary" type="button" data-ng-click="accept(request, $event)">Accept</button>
                    </p>
                </li>
            </ul>
        </div>
        <pagination ng-model="currentPage" total-items="todos.length" max-size="maxSize"  boundary-links="true"></pagination>
    </section>

    <div class="footer">
        <div class="footer_resize center" style="align:centre">
            <p class="lf" >&copy; Copyright 2015 Singapore Management University. All Rights Reserved</p>
      
        </div>
    </div>

</div>
