<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>SMUX</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>

    <script type="text/javascript" src="/js/angular/angular.js"></script>
    <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
    <script type="text/javascript" src="/users/services/users.client.service.js"></script>
    <script type="text/javascript" src="/users/config/users.client.routes.js"></script>

    <script type="text/javascript" src="/application.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
<style>
   
.navbar{
  width:94%; 
  margin-left:3%;
  background-color: #2C65B5;
  color: white;
  height: 2%;
}

.navbar ul li.active, .menu_nav ul li a:hover{
  color:white;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #2b5c94;
}

.menu_nav ul li.active, .menu_nav ul li a:hover {
  color:white;
  border: 2px solid white;
  background-color:white;
}

.menu1{
  color:white;
  width:190px;
}

.listdiv{
  padding: 2%;
}

.expandItem{
  margin: 1% 0;
  padding: 1% 0;
  background-color: #C8D7EC;
  border-radius: 10px;
}

.well{
  margin:7% 0 2% 0;
  width:100%;
}
.item{

  padding: 0% 2%;
}
.datepick{
  width: 47%;
  float: left;
}
</style>
</head>

<body ng-app="smux">
<div class="main">
  <div class="header">
    <div class="header_resize col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
      <div class="logo col-md-6 col-sm-6 col-xs-12" >
        <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
      </div>
      <div class="profile-bar col-md-offset-1 col-md-4 col-sm-6 col-xs-12" >
        <span>
        <h5>
          <a href="#"><img src="images/userpic.gif"/></a>
          Welcome, Prof. John William     
          <button type="button" class="btn btn-small pull-right">Log Out</button>
        </h5>
      </div>
      <div class="clr"></div>

      <nav class="navbar">
        <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a class="menu1" href="index.html">Home <span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="#" class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="project.html?select=availableprojects">Available Projects</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="project.html?select=ongoingprojects">Ongoing Projects</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="project.html?select=projectrequests">Project Requests</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="project.html?select=completedprojects">Completed Projects</a></li>
                  </ul>
              </li>
              <li class="dropdown active">
                <a href="#"  class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faculty Announcement <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" data-toggle="modal" data-target="#newAnnouc">New Announcement</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="announcement.html?select=myannouncements">My Announcements</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="announcement.html?select=announcementrequests">Requests</a></li>
                  
                </ul>
              </li>
              <li><a class="menu1"  href="faq.html">FAQ</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>

  <div class="content col-md-12">
    <div class="content_resize" ng-controller ="OptionController"> 

      <!--my announcements-->
      <div id="myannouncements" class="listdiv" ng-show="'{{annocTitle}}' === 'My Announcements'">
        <h3 class="mainTitle" ng-model="annocTitle"><strong>{{annocTitle}}</strong></h3>
        <hr/>
        <!--link with angular-->
        <!--
        <div class="listItem" ng-repeat="annoc in faculty.announcement">
          <div>
          <h4><strong>{{annoc.title}}</strong>
          </h4>
          <h6><strong>Description</strong></h6>
          <p>{{annoc.description}}</p>
          <button class="btn btn-primary detailsbtn pull-right" type="button" data-toggle="collapse" href="#{{annoc.id}}" aria-expanded="false" aria-controls="annoc">View More</button>
          </div>
            <div class="collapse" id="{{annoc.id}}">
            </div>
        </div>
        <!--Static code test-->
        <div class="listItem">
          <div>
            <p><h4><strong>Announcement title</strong></h4></p>
            <h6><strong>Description</strong><p class="pull-right">Posted On: 12/Dec/2015</p></h6>
            <p>Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
            <button class="btn btn-primary detailsbtn pull-right" type="button" data-toggle="collapse" href="#annocid1" aria-expanded="false" aria-controls="annoc1">View More</button>
          </div>
          <!-- view more of list item 1 -->
          <div class="well collapse" id="annocid1">
            <div class="row item">
              <h3 class="col-md-8 col-sm-12 col-xs-12" ng-model="annoc.title"><strong>Announcement title 1</strong></h3>
              <p class="col-md-4 col-sm-12 col-xs-12 text-right" ng-model="annoc.postedDate"><strong>Posted on:</strong> 12/Dec/2015</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-9 col-sm-8">Saved Category</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">Jan 2012</p>
              <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">Dec 2012</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Course ID:</strong></p><p class="col-md-3 col-sm-8">IDIS001</p>
              <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">Analytical Skills</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Organization:</strong></p><p class="col-md-3 col-sm-8">DHL</p>
              <p class="col-md-3 col-sm-4">Project:</p><p class="col-md-3 col-sm-8">Project 1</p>
            </div>
            <p class="item"><strong>Description</strong></p>
            <p class="item">Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
            <div class="item" style="padding-bottom: 3%">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editAnnouc" data-annoc="id1">Edit</button>
            </div>
          </div>
        </div><!-- End of one list item (hard code)-->
        <div class="listItem">
          <div>
            <p>
              <h4 ><strong>Announcement title</strong></h4>
            </p>
            <h6><strong>Description</strong><p class="pull-right">Posted On: 12/Dec/2015</p></h6>
            <p>Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
            <button class="btn btn-primary detailsbtn pull-right" type="button" data-toggle="collapse" href="#annocid2" aria-expanded="false" aria-controls="annoc1">View More</button>
          </div>
          <!--view more of announcement 2-->
          <div class="well collapse" id="annocid2">
            <div class="row item">
              <h3 class="col-md-8 col-sm-12 col-xs-12"><strong>Announcement title</strong></h3>
              <p class="col-md-4 col-sm-12 col-xs-12 text-right"><strong>Posted on:</strong> 12/Dec/2015</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Category:</strong></p><p class="col-md-9 col-sm-8">Saved Category</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Expected Start Date:</strong></p><p class="col-md-3 col-sm-8">Jan 2012</p>
              <p class="col-md-3 col-sm-4"><strong>Expected End Date:</strong></p><p class="col-md-3 col-sm-8">Dec 2012</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Course ID:</strong></p><p class="col-md-3 col-sm-8">IDIS001</p>
              <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p><p class="col-md-3 col-sm-8">Analytical Skills</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Organization:</strong></p><p class="col-md-3 col-sm-8">DHL</p>
              <p class="col-md-3 col-sm-4">Project:</p><p class="col-md-3 col-sm-8">Project 1</p>
            </div>
            <p class="item"><strong>Description</strong></p>
            <p class="item">Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
            <div class="item" style="padding-bottom: 3%">
              <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editAnnouc" data-annoc="id2">Edit</button>
            </div>
          </div>
        </div>
      </div><!-- end of my announcement -->

      <!-- Start of requests-->
      <div id="requests" class="listdiv" ng-show="'{{annocTitle}}' === 'Announcement Requests'">
        <h3 class="mainTitle" ng-model="annocTitle"><strong>{{annocTitle}}</strong></h3>
        <hr/>
        <div class="listItem">
          <div>
            <p>
              <h4><strong>Announcement title 1(link to announcement details)</strong></h4>
            </p>
            <h6><strong>Message from Organization</strong><p class="pull-right">Requested On: 12/Dec/2015</p></h6>
            <p>Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
            <button class="btn btn-primary detailsbtn pull-right" type="button" data-toggle="collapse" href="#req1" aria-expanded="false" aria-controls="annoc1">View More</button>
          </div><!-- End of brief description-->
      
          <!-- View more of announcement-->
          <div class="well collapse" id="req1">
            <div class="row item">
              <h3 class="col-md-8 col-sm-12 col-xs-12" ng-model="annoc.title"><strong>Announcement title 1</strong></h3>
              <p class="col-md-4 col-sm-12 col-xs-12 text-right" ng-model="annoc.postedDate"><strong>Requested on:</strong> 12/Dec/2015</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Category:</strong></p>
              <p class="col-md-9 col-sm-8">Saved Category</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Course ID:</strong></p>
              <p class="col-md-3 col-sm-8">IDIS001</p>
              <p class="col-md-3 col-sm-4"><strong>Course Name:</strong></p>
              <p class="col-md-3 col-sm-8">Analytical Skills</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Organization:</strong></p>
              <p class="col-md-3 col-sm-8">Organization 1</p>
              <p class="col-md-3 col-sm-4"><strong>Contact Person:</strong></p>
              <p class="col-md-3 col-sm-8">Mr. contact 1</p>
            </div>
            <div class="row item">
              <p class="col-md-3 col-sm-4"><strong>Contact Ph num:</strong></p>
              <p class="col-md-3 col-sm-8">+65 00000000</p>
              <p class="col-md-3 col-sm-4"><strong>Contact Email:</strong></p>
              <p class="col-md-3 col-sm-8">org1@gmail.com</p>
            </div>
            <p class="item"><strong>Message from Organization</strong></p>
            <p class="item">Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
            <p class="item"><strong>Description</strong></p>
            <p class="item">Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
            <div class="item" style="padding-bottom: 3%">
              <div class="pull-right">
                <button type="button" class="btn " data-toggle="collapse" data-target="#req1" data-annoc="id1">Cancel</button>
                <button type="button" class="btn btn-danger " data-toggle="modal" data-target="" data-annoc="id1">Reject</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="" data-annoc="id1">Accept</button>
              </div>
            </div>
          </div><!--End of view more-->
        </div><!--End of list item 1-->
      </div><!--End of request-->
    </div><!-- End of content resize-->
    
    <div class="clr"></div>
  </div><!-- End of content-->
    
  
  <div class="fbg">
    <div class="fbg_resize" style="width:76%">
      <div>
        <br/>
        <h2><span>WHERE TO FIND US</span></h2>
        Administration Building<br/>
        Singapore Management University<br/>
        81 Victoria Street<br/>
        Singapore 188065<br/>
        Tel: +65 6828 0100 |  Fax: +65 6828 0101<br/>
        Email: enquiry@smu.edu.sg<br/>
        View <a href="http://www.smu.edu.sg/campus-map">Map</a> | <a href="http://www.smu.edu.sg/campus-information/carpark-information">Carpark</a> | <a href="http://www.smu.edu.sg/contact/directory">Directory</a><br/>
        <p>Contact the <a href="http://www.smu.edu.sg/form/contact-dpo">Data Protection Officer</a><br/>
      </div>
    </div>
  </div>
 


  
  <div class="footer">
    <div class="footer_resize center" style="align:centre">
      <p class="lf" >&copy; Copyright 2015 Singapore Management University. All Rights Reserved</p>
      
    </div>
  </div>
</div>

<!-- Modal -->
<!-- Add modal -->
<div class="modal fade" id="newAnnouc" tabindex="-1" role="dialog" aria-labelledby="newAnnoucLabel" style="z-index: 2147483647;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newAnnoucLabel"><strong>Add New Announcement</strong></h4>
      </div>

      
        <div class="modal-body">
          <!-- New Announcement form-->
          <form  name="newAnnocForm" novalidate>
          <div class="form-group col-md-12 col-sm-12">
            <label for="titleIn">Title</label>
            <input type="text" ng-model="annoc.title" name="titleIn" class="form-control" id="titleIn" ng-maxLength = "5" placeholder="Title" required>
          </div>
          <!--change to dropdown-->
          <div class="form-group col-md-12 col-sm-12">
            <label for="categoryIn">Category</label>
            <select class="form-control" ng-model="annoc.category" name="category" id="categoryIn">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <!---------->
          <div class="form-group col-md-6 col-sm-12">
            <label for="startIn">Start Date</label>
<div class="row col-md-12">
            <select id="month" ng-model="annoc.startMth" class="form-control datepick year" name="monthStart">
              <option vlaue=""></option>
              <option value="Jan">January</option>
              <option value="Feb">February</option>
              <option value="Mar">March</option>
              <option value="Apr">April</option>
              <option value="May">May</option>
              <option value="Jun">June</option>
              <option value="Jul">July</option>
              <option value="Aug">August</option>
              <option value="Sep">September</option>
              <option value="Oct">October</option>
              <option value="Nov">November</option>
              <option value="Dec">December</option>
            </select>
            <select id="yearSt" ng-model="annoc.startYr" class="form-control datepick pull-right" name="yearStart" >
              <option value=""></option>
            </select>
            </div>
            
          </div>
          <div class="form-group col-md-6 col-sm-12">

            <label for="endIn">End Date</label>

<div class="row col-md-12">
            <select id="month" ng-model="annoc.endMth" class="form-control datepick" name="monthEnd">
              <option vlaue=""></option>
              <option value="Jan">January</option>
              <option value="Feb">February</option>
              <option value="Mar">March</option>
              <option value="Apr">April</option>
              <option value="May">May</option>
              <option value="Jun">June</option>
              <option value="Jul">July</option>
              <option value="Aug">August</option>
              <option value="Sep">September</option>
              <option value="Oct">October</option>
              <option value="Nov">November</option>
              <option value="Dec">December</option>
            </select>
            <select id="yearEnd" ng-model="annoc.endYr" class="form-control datepick pull-right year" name="yearEnd" >
              <option value=""></option>
            </select>
            </div>
          </div>
          <!--change dynamic dropdown-->
          <div class="form-group col-md-6 col-sm-12">
            <label for="courseNameIn">Course Name</label>
            <select class="form-control" ng-model="annoc.courseName" name="courseName" id="courseNameIn">
              <option value=""></option>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label for="courseId">Course ID</label>
            <select class="form-control" ng-model="annoc.courseId" name="courseId" id="courseId">
              <option value=""></option>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <!---------->
          <div class="form-group col-md-12 col-sm-12">
            <label for="descIn">Description</label>
            <textarea rows="3" ng-model="annoc.description" class="form-control" id="descIn" placeholder="Description" ng-maxlength="500" required></textarea>
          </div>
          <div class="col-md-offset-9 col-sm-offset-6">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="editAnnouc" tabindex="-1" role="dialog" aria-labelledby="editAnnoucLabel" style="z-index: 2147483647;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editAnnoucLabel"><strong>Edit Announcement</strong></h4>
      </div>

      
        <div class="modal-body">
          <!-- New Announcement form-->
          <form  name="editAnnocForm" novalidate>
          <div class="form-group col-md-12 col-sm-12">
            <label for="titleIn">Title</label>
            <input type="text" name="titleIn" ng-model="annoc.title" class="form-control" id="titleIn" ng-maxLength = "5" required>{{annoc.title}}
          </div>
          <!--change to dropdown-->
          <div class="form-group col-md-12 col-sm-12">
            <label for="categoryIn">Category</label>
            <select class="form-control" ng-model="annoc.category" name="category" id="categoryIn">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <!---------->
          <div class="form-group col-md-6 col-sm-12">
            <label for="startIn">Start Date</label>
<div class="row col-md-12">
            <select id="month" ng-model="annoc.startMth" class="form-control datepick year" name="monthStart">
              <option vlaue=""></option>
              <option value="Jan">January</option>
              <option value="Feb">February</option>
              <option value="Mar">March</option>
              <option value="Apr">April</option>
              <option value="May">May</option>
              <option value="Jun">June</option>
              <option value="Jul">July</option>
              <option value="Aug">August</option>
              <option value="Sep">September</option>
              <option value="Oct">October</option>
              <option value="Nov">November</option>
              <option value="Dec">December</option>
            </select>
            <select id="yearSt" ng-model="annoc.startYr" class="form-control datepick pull-right" name="yearStart" >
              <option value=""></option>
            </select>
            </div>
            
          </div>
          <div class="form-group col-md-6 col-sm-12">

            <label for="endIn">End Date</label>

<div class="row col-md-12">
            <select id="month" ng-model="annoc.endMth" class="form-control datepick" name="monthEnd">
              <option vlaue=""></option>
              <option value="Jan">January</option>
              <option value="Feb">February</option>
              <option value="Mar">March</option>
              <option value="Apr">April</option>
              <option value="May">May</option>
              <option value="Jun">June</option>
              <option value="Jul">July</option>
              <option value="Aug">August</option>
              <option value="Sep">September</option>
              <option value="Oct">October</option>
              <option value="Nov">November</option>
              <option value="Dec">December</option>
            </select>
            <select id="yearEnd" ng-model="annoc.endYr" class="form-control datepick pull-right year" name="yearEnd" >
              <option value=""></option>
            </select>
            </div>
          </div>
          <!--change dynamic dropdown-->
          <div class="form-group col-md-6 col-sm-12">
            <label for="courseNameIn">Course Name</label>
            <select class="form-control" ng-model="annoc.courseName" name="courseName" id="courseNameIn">
              <option value=""></option>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label for="courseId">Course ID</label>
            <select class="form-control" ng-model="annoc.courseId" name="courseId" id="courseId">
              <option value=""></option>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <!---------->
          <div class="form-group col-md-12 col-sm-12">
            <label for="descIn">Description</label>
            <textarea rows="3" ng-model="annoc.description" class="form-control" id="descIn" placeholder="Description" ng-maxlength="500" required></textarea>
          </div>
          <div class="col-md-offset-9 col-sm-offset-6">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $(".detailsbtn").click(function(){
    $(this).text(function(i, text){
          return text === "View More" ? "View Less" : "View More";
      })
  })

  $('#editAnnouc').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var annocid = button.data('annoc') // Extract info from data-* attributes
    //retrieve annoc object using id.
    //display all values in modal fields
    var modal = $(this)
    modal.find('.modal-body #titleIn').val(annocid);
})

var min = new Date().getFullYear(),
    max = min + 9,
    select = document.getElementById('yearSt');
    selectEnd = document.getElementById('yearEnd');

for (var i = min; i<=max; i++){
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    select.appendChild(opt);
}

for (var i = min; i<=max; i++){
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    selectEnd.appendChild(opt);
}
  
})
  
</script>
</body>
</html>
