<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>SMUX</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body ng-app="smux">
<div class="main">
  <div class="header">
    <div class="header_resize col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
      <div class="logo col-md-6 col-sm-6 col-xs-12" >
        <a href="#"><img class="img-responsive" src="images/smu_logo.png" style="max-width : 40%; padding:4% 6%"/></a> 
      </div>
      <div class="profile-bar col-md-offset-1 col-md-4 col-sm-6 col-xs-12" >
          
            <span>
            
            <h5><a href="#"><img src="images/userpic.gif"/></a>
            Welcome, Prof. John William     

            <button type="button" class="btn btn-small pull-right">Log Out</button>
            </h5>
        
        </div>
      <!--div class="searchform col-md-offset-8 col-md-6 col-sm-6 col-xs-12">
          <form id="formsearch" name="formsearch" method="post" action="#">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
            </span>
            <input name="button_search" src="images/search_btn.gif" class="button_search" type="image" />
          </form>
        </div-->
      <div class="clr"></div>
      
     <nav class="navbar">
  <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a class="menu1" href="index.html">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="project.html">Available Projects</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="project.html">Ongoing Projects</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="project.html">Project Requests</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="project.html">Completed Projects</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="menu1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faculty Announcement <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New Announcement</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="announcement.html">My Announcements</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="announcement.html">Requests</a></li>
            
          </ul>
        </li>
        <li><a class="menu1"  href="faq.html">FAQ</a></li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </div>
  <div class="content col-md-12">

    <div class="content_resize"> 
    
    <ul class="bxslider col-md-8" style="width=70%;">
  <li><img src="images/white room.jpg" height="295" class="hbg_img"/></li>
  <li><img src="images/white room.jpg" height="295" class="hbg_img"/></li>
  <li><img src="images/white room.jpg" height="295" class="hbg_img"/></li>
</ul>

    <!--img class="col-md-9" src="images/white room.jpg" height="295" alt="" class="hbg_img" />
    <!--button group-->
    <div class="col-md-3 col-xs-12 col-sm-12">
      <br/>
      <br/>
      <button type="button" onclick="" class="btn btn-lg btn-primary col-md-12 col-sm-12 col-xs-12">X-Courses</button>
      <br/>
      <br/>
      <br/>
      <br/>
      <button type="button" class="btn btn-lg btn-primary col-md-12 col-sm-12 col-xs-12">Faculty</button>
      <br/>
      <br/>
      <br/>
      <br/>
      <button type="button" class="btn btn-lg btn-primary col-md-12 col-sm-12 col-xs-12">Add Announcement</button>
    </div>
      <div class="clr"></div>
      <div class="mainbar col-md-12 col-sm-12 col-xs-12">
        <div class="article col-md-12 col-sm-12 col-xs-12">
          <h2><span>Announcements</span></h2>
          <h3><span>Future</span> technology</h3>
          <div class="clr"></div>
          <p class="infopost">Posted <span class="date">on 29 aug 2010</span> by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a> with <a href="#" class="com">Comments <span>7</span></a></p>
          <img src="images/img2.jpg" width="201" height="141" alt="" class="fl" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.</a> Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam.</p>
          <p>Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
          <p class="spec"><a href="#" class="rm">Read more &raquo;</a></p>
        </div>
        <div class="article">
          <h3><span>Future</span> technology</h3>
          <div class="clr"></div>
          <p class="infopost">Posted <span class="date">on 29 aug 2010</span> by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a> with <a href="#" class="com">Comments <span>7</span></a></p>
          <img src="images/img2.jpg" width="201" height="141" alt="" class="fl" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.</a> Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam.</p>
          <p>Aenean consequat porttitor adipiscing. Nam pellentesque justo ut tortor congue lobortis. Donec venenatis sagittis fringilla. Etiam nec libero magna, et dictum velit. Proin mauris mauris, mattis eu elementum eget, commodo in nulla. Mauris posuere venenatis pretium. Maecenas a dui sed lorem aliquam dictum. Nunc urna leo, imperdiet eu bibendum ac, pretium ac massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Quisque condimentum luctus ullamcorper.</p>
          <p class="spec"><a href="#" class="rm">Read more &raquo;</a></p>
        </div>
        <p class="pages"><small>Page 1 of 2 &nbsp;&nbsp;&nbsp;</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
      </div>
      <div class="clr"></div>
    </div>
    
  </div>
  <div class="fbg">
    <div class="fbg_resize" style="width:76%">
      <div>
      <br/>
        <h2><span>WHERE TO FIND US</span></h2>
Administration Building<br/>
Singapore Management University<br/>
81 Victoria Street<br/>
Singapore 188065<br/>
Tel: +65 6828 0100 |  Fax: +65 6828 0101<br/>
Email: enquiry@smu.edu.sg<br/>
View <a href="http://www.smu.edu.sg/campus-map">Map</a> | <a href="http://www.smu.edu.sg/campus-information/carpark-information">Carpark</a> | <a href="http://www.smu.edu.sg/contact/directory">Directory</a><br/>
<p>Contact the <a href="http://www.smu.edu.sg/form/contact-dpo">Data Protection Officer</a><br/>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize center" style="align:centre">
      <p class="lf" >&copy; Copyright 2015 Singapore Management University. All Rights Reserved</p>
      
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
  auto: true,
  autoControls: true
});
});
  

</script>
</body>
</html>
