<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!--<base href="/">-->
    <title><%=title %></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="smux">

    <script type="text/javascript">
        window._user = <%- user || 'null' %>;
    </script>

    <div class="container">
        

        <section ng-view class="main-section"></section>

    </div>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>

    <script type="text/javascript" src="/js/angular/angular.js"></script>
    <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
    <script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
    <script type="text/javascript" src="/users/services/users.client.service.js"></script>
    <script type="text/javascript" src="/users/config/users.client.routes.js"></script>

    <script type="text/javascript" src="/projects/projects.client.module.js"></script>
    <script type="text/javascript" src="/projects/controllers/projects.client.controller.js"></script>
    <script type="text/javascript" src="/projects/services/projects.client.service.js"></script>
    <script type="text/javascript" src="/projects/config/projects.client.routes.js"></script>

    <script type="text/javascript" src="/requests/requests.client.module.js"></script>
    <script type="text/javascript" src="/requests/controllers/requests.client.controller.js"></script>
    <script type="text/javascript" src="/requests/services/requests.client.service.js"></script>
    <script type="text/javascript" src="/requests/config/requests.client.routes.js"></script>

    <script type="text/javascript" src="/feedbacks/feedbacks.client.module.js"></script>
    <script type="text/javascript" src="/feedbacks/controllers/feedbacks.client.controller.js"></script>
    <script type="text/javascript" src="/feedbacks/services/feedbacks.client.service.js"></script>
    <script type="text/javascript" src="/feedbacks/config/feedbacks.client.routes.js"></script>

    <script type="text/javascript" src="/announcements/announcements.client.module.js"></script>
    <script type="text/javascript" src="/announcements/controllers/announcements.client.controller.js"></script>
    <script type="text/javascript" src="/announcements/services/announcements.client.service.js"></script>
    <script type="text/javascript" src="/announcements/config/announcements.client.routes.js"></script>


    <script type="text/javascript" src="/application.js"></script>
</body>
</html>
