<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>SMUX</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
    body{
        background-image: url("images/smu.JPG");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container{
        background-color: white;
        opacity: 0.9;
    }

    hr{
        border-width: 2px;
    }
    .form-signin-heading{
    }
    </style>

</head>
<body ng-app="smux">
<div class= "col-md-12">
    <img src="images/smu_logo.png" style="max-height: 20%"/>

</div>


    <!-- Portfolio Grid Section -->
    <section id="portfolio">

        <div class="container col-md-offset-4 col-md-4 col-sm-12">

            <form class="form-signin" action="/register" method="post">
                <h2 class="form-signin-heading text-center">New Register</h2>
                <hr>
                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required autofocus />
                <br/>
                <label for="email_address" class="sr-only">Email</label>
                <input type="email" name="email_address" id="email_address" class="form-control" placeholder="Email Address" required/>
                <br/>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required/>
                <br/>
                <label for="password" class="sr-only">Confirm Password</label>
                <input type="password" name="cfmpassword" id="cfmpassword" class="form-control" placeholder="Confirm Password" required/>
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
            </form>
            <br/>
            <p>Want to <a href="/login">Log In?</a></p>
            <% for(var i in messages) { %>
                <div class="flash alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only"></span> <%= messages[i] %></div>
            <% } %>

        </div>
    </section>
    
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>

    <script type="text/javascript" src="/js/angular/angular.js"></script>
    <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>
    <script type="text/javascript" src="/users/services/users.client.service.js"></script>
    <script type="text/javascript" src="/users/config/users.client.routes.js"></script>

    <script type="text/javascript" src="/application.js"></script>
</body>
</html>